---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("thoughts");
const sortedPosts = allPosts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---

<BaseLayout title="Thoughts" description="Thoughts">
  <main>
  <h2>Thoughts</h2>

  <div>
    {
      allPosts.map((post) => {
        return(
          
          <a href={`/thoughts/${post.slug}`}><h3>{post.data.title}</h3></a>
          <p>{post.data.description}</p>
          <p>{post.data.date}</p>

          <hr>
      
        )})
    }
  </div>
  </main>
</BaseLayout>