---
import BaseLayout from '../../layouts/BaseLayout.astro';
let title = 'Tags'

const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set([].concat.apply([],allPosts.map(post => post.frontmatter.tags)))]
---
<BaseLayout title={title}>
    <main>
    <h1>Tags</h1>
    <div style="display: flex; flex-wrap: wrap; margin: 0 auto">
        {tags.sort().map((tag) => (
            <p style="padding: .5em 1em; margin: 0.25em; font-size:1.15em; background-color:#F8FCFD; border: dotted 1px #a1a1a1; border-radius:.5em;" >
            <a href={`/tags/${tag}`}>{tag}</a>
            </p>
        ))}
    </div>
    </main>
</BaseLayout>
  
