---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title = "HomePage">
  <main>
    <h1>Oh no! There's nothing here.</h1>
    <p>That link must have moved. Please have a look around the site, maybe a <a href="/posts/">blog post</a> has what you were looking for.</p>
    <p>If it's about linking, embedding or sharing <a href="/tags/google%20photos/">Google Photos then you can find it here!</a></p>
    <p>If not, check out <a href="/tags/">my other tags</a> or browse around the site.</p>
  </main>
</BaseLayout>
