---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title = "About" canonicalURL={Astro.url}>
  <main>
    <h1>About Sarah</h1>

    <p>In my "past life" in Toronto, I helped hundreds of students through high school & university as a private tutor, teacher, academic advisor, school administrator and guidance / university admissions counsellor. I used several stylus-based tablet PCs for taking/making digital math notes long before tablets were a thing. I was also an active volunteer in the Ontario homeschooling community: writing, advising, and speaking at conferences.</p>

    <p>Now, from our island waterfront home in Atlantic Canada, I am working with and in front end development, coding on a Chromebook and Android tablet entirely in the browser with no local dev environment. I am the Docs Lead for <a href="https://astro.build">Astro</a> and now also <a href="/tags/docs/">write</a> and <a href="https://youtube.com/playlist?list=PLowBAHWxr_2DgiS5maPN2wg96dmKho_yC">speak</a> about managing and maintaining community-driven, open-source documentation.</p>

    <p>Despite my best intentions of learning modern, practical development tools and tech, much of my time is still spent wrestling with more mundane issues like why my Chromebook won't connect to the wifi at (specifically, and reproducibly) Radisson hotels. Or, I might find myself determined to daisy-chain several IFTTT triggers and actions in order for me to be able to slip something automatically into Joe's Pocket reading list from my own account. JAMstack in the streets, App(let)s / Extensions / URL Hacking in the sheets.</p>

    <p>I enjoy photographing birds at home on our local boardwalk or in whatever nature setting I can find on the road and have still never forgiven Google for shutting down Picasa. Ever in search of the perfect digital photo-management system, I spend more time than any one human should testing, and inevitably breaking, several services and have still not settled on an online album sharing service.</p>

    <p>Other personal interests include a good cappuccino, a new-to-me gin, watching Toronto Blue Jays baseball on PVR delay so we can skip commercials (no spoilers!), stylus-based gadgets (#ALLtheSamsung, plus many niche devices you've probably never heard of), and natural disaster movies where the rogue atmospheric physicist saves the day.</p>

    <p>My home is currently Summerside, PEI, Canada / Epekwitk (though I will always be "from Toronto"). My actual physical location could be anywhere in the world as a constant travel companion to my loving husband Joe, with whom the epic "Oshawa vs. Brampton" battle is ongoing.</p>

  </main>
</BaseLayout>