---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Astro Experiments">
  <main>
    <h2>Mini Learning Experiments</h2>
      <a class="experiment" href="/experiments/react-components">React Components</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/react-vs-svelte-buttons">React & Svelte Components</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/remote-markdown">Remote Markdown</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/meme-fetch">Single Meme Fetch</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/data-fetching">Fetching a Set of Data</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/code-samples">Code Snippets</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/react-context">React Context</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/passing-props">Passing Props between React Components via Astro</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/auth-context">Auth State Context</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/react-use-effect">React useEffect Interval Counter</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/form">React Form</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/codepen-embed">CodePen Embed</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/apollo-graphql">Apollo GraphQL Client Data Fetch</a>&nbsp &nbsp
      <a class="experiment" href="/experiments/graphql-astro">GraphQL API Fetch in Astro (no React)</a>&nbsp &nbsp
      <!-- <a class="experiment" href="/experiments/codesandbox-sandpack">Embedded CodeSandbox (Sandpack) Playground</a> -->
  </main>
</BaseLayout>
