---
import { Markdown } from 'astro/components'
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title = "Gear" >
  <main>
    <Markdown>

# Current Gear and Gadgets

2017 [Samsung Chromebook Pro](https://news.samsung.com/global/samsung-and-google-introduce-the-next-generation-chromebook-designed-for-google-play-the-samsung-chromebook-plus-and-chromebook-pro)

2017 [Samsung Galaxy Note 8](https://www.techradar.com/news/samsung-galaxy-note-8)

2017 [Kobo Aura One e-reader](https://en.wikipedia.org/wiki/Kobo_eReader#Kobo_Aura_One)

2020 [Samsung Galaxy Watch Active 2](https://www.samsung.com/ca/wearables/galaxy-watch-active2-r820/SM-R820NZDAXAC/)

2010 [Nikon D7500](https://www.dpreview.com/products/nikon/slrs/nikon_d7500) (acquired in 2021)


## Emergency Backups Still (Mostly) Kicking

2012 [Macbook Air 11.6](https://en.wikipedia.org/wiki/MacBook_Air)

2017 [Samsung Gear Fit 2 fitness tracker](http://www.samsung.com/global/galaxy/gear-fit2/)

2010 [Nikon D7000](https://www.dpreview.com/products/nikon/slrs/nikon_d7000) (acquired in 2019)


## Wish List
[Nikon D500](https://www.dpreview.com/search/?query=nikon%20d500&product=nikon_d500) for bird photography

[HP Elite Dragonfly Chromebook](https://chromeunboxed.com/hp-elite-dragonfly-chromebook-vpro-haptic-trackpad)

## Past Gadgets (passed on or away)
1997 - [Macintosh Powerbook Duo 230](https://en.wikipedia.org/wiki/PowerBook_Duo)

2004 - [Acer Travelmate C300 Tablet PC](https://www.amazon.com/Acer-TravelMate-Tablet-Centrino-DVD-RW/dp/B0001KV5Y4)

2005 - [Canon Powershot S2 IS](https://www.dpreview.com/reviews/canons2is)

2006 - [Creative Zen Vision M mp3 player](https://www.amazon.com/Creative-ZEN-Vision-Video-Player/dp/B000CS7U1C)

2006 - [Fujitsu Tablet PC](http://www.mobiletechreview.com/notebooks/Fujitsu-P1510d.htm)

2007 - [Nokia N810 internet tablet](https://en.wikipedia.org/wiki/Nokia_N810)

2009 - [Nokia E71 mobile phone](https://en.wikipedia.org/wiki/Nokia_E71)

2009 - [Canon Powershot SX10 IS](http://www.digitalcamerareview.com/camerareview/canon-powershot-sx10-is-review/)

2010 - [enTourage eDGe dual book](https://en.wikipedia.org/wiki/EnTourage_eDGe)

2011 - [Asus eeeNote EA800 e-ink tablet](https://www.asus.com/Eee-Family/Eee_Note_EA800/)

2012 - [Samsung Galaxy Note original](https://en.wikipedia.org/wiki/Samsung_Galaxy_Note_(original))

2012 - [Canon Powershot SX40 HS](https://shop.usa.canon.com/shop/en/catalog/powershot-sx40-hs)

2013 - [Samsung Galaxy Note 10.1](https://en.wikipedia.org/wiki/Samsung_Galaxy_Note_10.1)

2014 - [Samsung Galaxy Note 4](https://en.wikipedia.org/wiki/Samsung_Galaxy_Note_4)

2016 - [Nikon Coolpix P900](https://en.wikipedia.org/wiki/Nikon_Coolpix_P900)

2017 - [Sony Cyber-shot DSC-RX10 iv](https://www.dpreview.com/products/sony/compacts/sony_dscrx10iv)

    </Markdown>
  </main>
</BaseLayout>