---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from '@astrojs/image/components';
---
<BaseLayout title = "HomePage">
  <main>
    <h1>Sarah Rainsberger</h1>

    <Image src="/chickadee.JPG" alt="A cute chickadee on a branch" width="200" aspectRatio="4:3" />

    <p>Sarah photographs birds</p>
    <p class="bottom">...and codes entirely in the cloud, with no local development environment.</p>
  </main>
</BaseLayout>

<style>
  main {
    text-align: center;
  
  }

  img {
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-height: 40vh;
    max-width: 40vh;
  }

  .bottom {
    margin-bottom: 0;
  }

</style>
