---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="sBird">
    <main>
        <p>The sBird app has moved to the dedicated <a href="https://xelement-bird.netlify.app/">xBird</a> site!</p>
    </main>
</BaseLayout>