---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title = "Writing">
  <main>
    <h1>Writing</h1>
    <div style="display: flex; justify-content:space-between;">
      <p><a href="/blog/">See blog posts ...</a></p>
      <p><a href="/thoughts/">See shorter thoughts ...</a></p>
    </div>
  </main>
</BaseLayout>

