---
import BaseLayout from '../../layouts/BaseLayout.astro'
---
  <BaseLayout title="5 pin bowling pin setter simulation">
    <main>
      <h1>5-pin Bowling pin setter simulation</h1>
        <p class="codepen" data-height="400px" data-default-tab="html,result" data-slug-hash="rNwNEBL" data-user="sarah11918" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;">
      <span>See the Pen <a href="https://codepen.io/sarah11918/pen/rNwNEBL">
      5-pin bowling game</a> by Sarah Rainsberger (<a href="https://codepen.io/sarah11918">@sarah11918</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
  </main>
</BaseLayout>